
.footer h4{
    text-align: center;
    color: white;
    margin: 5px;
}
.footer h5{
    text-align: center;
    color: gray;
    font-size: 15px;
    margin: 5px;
}    
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
}