.quantity{
    padding: 2px;
    display: inline-flex;
    width: 100px;
}
.quantity .btn{
    margin: 5px 5px;
    width: 50px;
}
.quantity label{
    margin-top: 18px;
}

.btncart{
    margin: 5px 5px;
    width: 100px;
    height: 50px;
    font-size: 10px;
}